@import "https://cdn.jsdelivr.net/npm/bulma@0.9.4/css/bulma.min.css";


* {
    margin: 0;
    padding: 0;
    box-sizing: content-box;
}

body {
    display: flex;
    height: 100vh;
    background: rgb(63,94,251);
    background: radial-gradient(circle, rgba(63,94,251,1) 0%, rgba(140,166,219,1) 100%);
}
.contenedor {
    width: 400px;
    height: 700px;
    margin: auto;
    background-color: #E1F1FF;
    box-shadow: 10px 10px 16px 0px rgba(0,0,0,0.16);
    -webkit-box-shadow: 10px 10px 16px 0px rgba(0,0,0,0.16);
    -moz-box-shadow: 10px 10px 16px 0px rgba(0,0,0,0.16);
    padding: 32px;
    border-radius: 8px;

}

.contFormulario {
    width: 370px;
}

#formulario {
    display: flex;
    flex-direction: column;
    gap: 8px;
    justify-content: center;
    align-items: flex-start;
    align-content: center;
    flex-wrap: nowrap;
}
.historial {
    height: 230px;
    overflow: hidden;
}
#history div p {
    padding: 8px 24px;
    border-radius: 8px;
    margin: 16px 0;
}


.btn--container {
    display: flex;
    justify-content: space-between;
    gap: 0 8px;
    padding: 16px 0;
}


.header {
    display: flex;
    padding: 8px 0;
    justify-content: space-between;
    align-items: center;
    flex-wrap: nowrap;
    flex-direction: row;
}
#contSaludo {
    margin: auto 0;
}
.notification {
    text-align: center;
}

.clave {
    margin-bottom: 24px;
}
.clave:hover {
    cursor: pointer;
}
.historial {
    margin-top: 32px;
}

.imgPass {
    margin-top: 40px;
    width: 400px;
    margin-bottom: 32px;
}






